<div class="about-container">
	</br>
	<h1>About</h1>
	</br>
	<h3>Your source for the best deals on surplus or used machinery & equipment</h3>
	</br>
	<p>We are a Los Angeles based online retailer for used and surplus machinery and equipment. We launched in June of 2014 and continue to expand our product offerings every day. We believe there is great value in providing great everyday low prices for contractors, tradesmen and hobbyists looking to save a bit of money in this though economy. 
	</p>
	<p>As a growing young company we value our customers feedback. Let us know which products you would like us to source. Or just drop us a line to let us know how we can help at info@surplusmerchant.com
	</p>
	</br>
	</br>
</div>


