<div class="pickup-container">
	</br>
	</br>

	<h1>Pick-up</h1>
	</br>

	<h3>Want to save on shipping costs?</h3>
	</br>
		<p>We are located in Canoga Park CA, easily accessible for anyone in the greater Los Angeles Area.</p>
		<p>Our prices are already very low as they are but by personally picking up your purchase you can save a good deal on many of the heavier shipping cost products. We also offer discounts for those willing to pick-up and pay in cash. If you want to come by for a pick-up drop us an email at info@surplusmerchant.com</p>

	</br>
	</br>
	

</div>
