<div class="returns-container">
	</br>
	</br>

	<h1>Returns</h1>
	</br>

	<h3>We want our customers to be happy</h3>
	</br>
		<p>We are currently re-vamping our return policy. Check back in a few weeks for more information. In the meantime free to email us at info@surplusmerchant.com and we will find you a replacement product or help you with your return.</p>
		

	</br>
	</br>
	

</div>
