<div class="shipping-container">
	</br>
	</br>

	<h1>Shipping</h1>
	</br>

	<h3>We offer different shipping options</h3>
	</br>
		<p>You can chose between different shipping options or even in person pick-up from our Canoga Park CA location</p>
		<p>We will be updating this section with a more detailed breakdown soon. In the meantime if you have any questions throughout your purchase about your shipping options feel free to contact us<p>

	</br>
	</br>
	

</div>
