<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "spree/fancy/logo-white2.png", :alt => "Spree Demo Theme", :id => "footer-logo" %>
      <br>
      <br>
      <div class="social-links">
        <%= link_to image_tag('spree/fancy/mail-white.png', id: 'blah', class: 'footer-img', alt: 'About'), 'contact_path' %>
        <%= link_to image_tag('spree/fancy/facebook-white.png', id: 'blah', class: 'footer-img', alt: 'About'), 'https://www.facebook.com/surplusmerchant' %>
        <%= link_to image_tag('spree/fancy/twitter-white.png', id: 'blah', class: 'footer-img', alt: 'About'), 'https://twitter.com/surplusmerchant' %>
      </div>
      </br>
      <div class="email">
        <a href="mailto:demo@spreecommerce.com">info@surplusmerchant.com</a>
      </div>
      <div class="address">
        Canoga Park CA 91303 USA
      </div>
    </div>
    
    <div class="four columns">
      <h5>Sell To Us</h5>
      <ul>
        <li><a href="/suppliers">Sell To Us</a></li>
        <li><a href="/distribution">Distribution Partnerships</a></li>
        <li><a href="/products">New Products</a></li>
        <li><a href="/products">Top Sellers</a></li>
        <li><a href="/manufacturers">Manufacturers</a></li>
        <li><a href="/services">Services</a></li>        
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Regular Services</h5>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/shipping">Shipping Info</a></li>
        <li><a href="/pickup">Pick-up</a></li>
        <li><a href="/returns">Returns</a></li>
        <li><a href="/faq">F.A.Q.</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Request A Product</h5>
      <p>
        We are adding new products everyday. Give us a call if there is something you are looking for and we'll work to find it for you at our unbeatable used & surplus prices. 
      </p>
    </div>
    
  </div>
</footer>